body {
  background-color: black;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.stock {
  border: thin solid red;
  width: 100px;
  padding: 5px;
  margin: 5px;
  background-color: white;
  color: black;
}

.menu {
  display: flex;
}
